@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari, and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}


		/* Hide scrollbar for IE, Edge, and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

@layer base {
	@font-face{
		font-family: 'SL-Light';
		src: url('/fonts/Superlative-Light.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	@font-face{
		font-family: 'SL-Regular';
		src: url('/fonts/Superlative-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	@font-face{
		font-family: 'SL-Regular-Condensed';
		src: url('/fonts/Superlative-RegularCondensed.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--app-height: 100vh;
}

html,
body,
#app {
	min-height: var(--app-height);
	@apply bg-base-200;

	@screen md {
		min-height: 100vh;
	}
}

.btn {
	@apply uppercase;
}
