@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari, and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}


		/* Hide scrollbar for IE, Edge, and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

@layer base {
	@font-face{
		font-family: 'SL-Light';
		src: url('/fonts/Superlative-Light.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	@font-face{
		font-family: 'SL-Regular';
		src: url('/fonts/Superlative-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	@font-face{
		font-family: 'SL-Regular-Condensed';
		src: url('/fonts/Superlative-RegularCondensed.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	html,
	body,
	#app {
		@apply bg-base-200;
	}
}

h4 {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.btn {
	@apply uppercase;
}

.label {
	padding-left: 0;
	padding-right: 0;
}

.label-text {
	@apply uppercase;

	&[disabled="true"] {
		@apply text-neutral cursor-not-allowed;
	}
}

.matrix {
	width: calc((3rem - 1px) * 4);
	height: calc((3rem - 1px) * 2);
}

.matrix-column {
	&:nth-child(1) .radio {
		border-left-width: 2px;

		&:nth-child(1) {
			@apply rounded-tl-md;
		}

		&:last-child {
			@apply rounded-bl-md;
		}
	}

	&:last-child .radio {
		&:nth-child(1) {
			@apply rounded-tr-md;
		}

		&:last-child {
			@apply rounded-br-md;
		}
	}
}

.radio {
	@apply rounded-none bg-base-100;
	width: calc(3rem - 2px);
	height: calc(3rem - 2px);
	border-width: 2px;
	border-left-width: 0;
	border-color: theme(colors.base-300);

	&:not(:nth-child(1)):not(checked) {
		border-top-width: 0;
	}

	&:checked {
		position: relative;
	}

	&:checked::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 50%;
		background-color: theme(colors.accent);
		border-radius: 0.3rem;
		animation: radiomark var(--animation-input, 0.2s) ease-out;
	}
}

.matrix-col-label {
	position: relative;
	left: 1.5rem;
	max-width: calc(3rem - 2px);
	overflow: visible;
	white-space: nowrap;
	transform-origin: bottom left;
	transform: rotate(-45deg);
}

.font-music {
	@apply text-neutral/80;
	user-select: none;

	&.active {
		@apply !text-accent;
	}

	&.active[disabled="true"] {
		@apply !text-neutral;
	}

	&[disabled="true"] {
		@apply !text-neutral/35;
	}
}

.range {
	&:focus-visible::-webkit-slider-thumb {
		--focus-shadow: 0 0 0 4px theme(colors.accent) inset, 0 0 0 1rem theme(colors.base-100) inset;
	}

	&::-webkit-slider-thumb {
		@apply rounded-box bg-base-100 relative h-6 w-6 border-none;
		appearance: none;
		-webkit-appearance: none;
		top: 50%;
		color: var(--range-shdw);
		transform: translateY(-50%);
		--filler-size: 100rem;
		--filler-offset: 0.6rem;
		box-shadow:
		0 0 0 2px var(--range-shdw) inset,
		var(--focus-shadow, 0 0),
		calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
	}
}

.range[disabled] {
	--range-shdw: theme(colors.base-200);

	@apply cursor-not-allowed;

	&::-webkit-slider-runnable-track {
		@apply bg-base-content/5;
	}

	&::-moz-range-track {
		@apply bg-base-content/5;
	}
}

.toggle {
	@apply bg-neutral border-none border-opacity-100;

	&:checked {
		@apply bg-accent;
	}
}
